<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="__PUBLIC__/manage/css/shop.css" type="text/css" rel="stylesheet" />
<link href="__PUBLIC__/manage/css/Sellerber.css" type="text/css"  rel="stylesheet" />
<link href="__PUBLIC__/manage/css/bkg_ui.css" type="text/css"  rel="stylesheet" />
<link href="__PUBLIC__/manage/font/css/font-awesome.min.css"  rel="stylesheet" type="text/css" />
<script src="__PUBLIC__/manage/js/jquery-1.9.1.min.js" type="text/javascript" ></script>
<script type="text/javascript" src="__PUBLIC__/manage/js/jquery.cookie.js"></script>
<script src="__PUBLIC__/manage/js/shopFrame.js" type="text/javascript"></script>
<script src="__PUBLIC__/manage/js/Sellerber.js" type="text/javascript"></script>
<script src="__PUBLIC__/manage/js/layer/layer.js" type="text/javascript"></script>
<script src="__PUBLIC__/manage/js/jquery.dataTables.min.js"></script>
<script src="__PUBLIC__/manage/js/jquery.dataTables.bootstrap.js"></script>
<title>优惠券列表</title>
</head>
<?php 
  if(!$_SESSION['administrator']){
    redirect('Manage/Index/index',1,'请先登陆后台');
  }

?>
<body>
<div class="margin Competence_style" id="page_style">
</div>
</div>
<div class="compete_list">
       <table id="sample_table" class="table table_list table_striped table-bordered dataTable no-footer">
		 <thead>
			<tr>
			  <th>优惠券类别</th>
			  <th class="hidden-480">优惠满减下限(元)</th> 
			  <th class="hidden-480">优惠金额(元)</th>
			  <th class="hidden-480">优惠券显示时间</th> 
			  <th class="hidden-480">优惠券时效(天)</th>
			  <th class="hidden-480">优惠券描述</th>         
			  <th class="hidden-480">操作</th>
      		</tr>
		</thead>
      <tbody>
       <volist name="coupons" id="vo">
			  <tr>
				<td>
					<switch name="vo.type" >
					    <case value="1">特殊时间</case>
					    <case value="2">新用户</case>
					    <default />
				    </switch>
					<!-- {$vo.type} -->
				</td>	
        		<td>{$vo.less_price}</td>
        		<td>{$vo.reduce_price}</td>
        		<td>
        		<switch name="vo.type" >
					<case value="1">{$vo.start_time}--{$vo.end_time}</case>
					<case value="2">新用户</case>
					<default />
				</switch>
				</td>
        		<td>{$vo.valid_time}</td>
        		<td>{$vo.desc}</td>
				<td class="td-manage">
                <a title="积分倍数编辑" href="{:U('CouponList/edit',array('coupon_id'=>$vo['Id']))}" class="btn button_btn bg-deep-blue" id="jf_edit">优惠券编辑</a>        
				</td>
			 </tr>	
       </volist>			
		    </tbody>
	   </table>
     </div>
</div>
</body>
</html>
<script>

/*******滚动条*******/
$("body").niceScroll({  
	cursorcolor:"#888888",  
	cursoropacitymax:1,  
	touchbehavior:false,  
	cursorwidth:"5px",  
	cursorborder:"0",  
	cursorborderradius:"5px"  
});
</script>
