<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="__PUBLIC__/manage/css/shop.css" type="text/css" rel="stylesheet" />
<link href="__PUBLIC__/manage/css/Sellerber.css" type="text/css"  rel="stylesheet" />
<link href="__PUBLIC__/manage/css/bkg_ui.css" type="text/css"  rel="stylesheet" />
<link href="__PUBLIC__/manage/font/css/font-awesome.min.css"  rel="stylesheet" type="text/css" />
<script src="__PUBLIC__/manage/js/jquery-1.9.1.min.js" type="text/javascript" ></script>
<script src="__PUBLIC__/manage/js/Sellerber.js" type="text/javascript"></script>
<script type="text/javascript" src="__PUBLIC__/manage/js/jquery.cookie.js"></script>
<script src="__PUBLIC__/manage/js/shopFrame.js" type="text/javascript"></script>
<script src="__PUBLIC__/manage/js/jquery.dataTables.min.js"></script>
<script src="__PUBLIC__/manage/js/jquery.dataTables.bootstrap.js"></script>
<script src="__PUBLIC__/manage/js/layer/layer.js" type="text/javascript"></script>
<script src="__PUBLIC__/manage/js/laydate/laydate.js" type="text/javascript"></script>
<!--[if lt IE 9]>
<script src="js/html5shiv.js" type="text/javascript"></script>
<script src="js/respond.min.js"></script>
<script src="js/css3-mediaqueries.js"  type="text/javascript"></script>
  <![endif]-->
<title>订单</title>

</head>
<body>
<div class="margin order_style" id="page_style">
<div class="sum_style margin-bottom ">
 <ul class="clearfix">
  <li class="col-xs-3 "><div class="sum_zone Amount">总交易总额<span><em>￥</em>354465元</span></div></li>
  <li class="col-xs-3 "><div class="sum_yifu Amount">今日交易金额<span><em>￥</em>35465元</span></div></li>
  <li class="col-xs-3 "><div class="sum_daifu Amount">今日待付金额<span><em>￥</em>3545元</span></div></li>
  <li class="col-xs-3 "><div class="sum_tuikuan Amount">今日退款金额<span><em>￥</em>3545元</span></div></li>
 </ul>
</div>
<div class="status_order margin-bottom">
  <a href="{:U('OrderPs/index',array('op'=>'order_0'))}" class="btn button_btn btn-info status_btn" <if condition="$op eq 'order_0'"> style="background:#1779BB !important; " </if> <empty name="op">style="background:#1779BB !important;" </empty> >所有订单({$num0})</a>
  <a href="{:U('OrderPs/index',array('op'=>'order_1'))}" class="btn button_btn btn-info status_btn" <if condition="$op eq 'order_1'"> style="background:#1779BB !important;" </if> >待自提({$num1})</a>
  <a href="{:U('OrderPs/index',array('op'=>'order_3'))}" class="btn button_btn btn-info status_btn" <if condition="$op eq 'order_3'"> style="background:#1779BB !important;" </if> >已完成({$num3})</a>
  <a href="{:U('OrderPs/index',array('op'=>'order_4'))}" class="btn button_btn btn-info status_btn" <if condition="$op eq 'order_4'"> style="background:#1779BB !important;" </if> >退款订单({$num4})</a>
 </div>
<div class="operation clearfix">
<!-- <button class="btn button_btn btn-danger" type="button" onclick=""><i class="fa fa-trash-o"></i>&nbsp;删除</button>  -->
<div class="operation clearfix">
   <form action="__CONTROLLER__/index" method="post">
    <ul class="choice_search">
     <li class="clearfix col-xs-2 col-lg-2 col-ms-3 "><label class="label_name " style="width:125px;">会员名或订单号：</label><input name="name" type="text"  class="form-control col-xs-6 col-lg-5"/ value="{$member_name}"></li>
      <li class="clearfix col-xs-4 col-lg-5 col-ms-5 "><label class="label_name ">下单时间：</label> 
     <input class="laydate-icon col-xs-4 col-lg-3" id="start" style=" margin-right:10px; height:28px; line-height:28px; float:left" name="start_time" value="{$start_time}">
      <span  style=" float:left; padding:0px 10px; line-height:32px;">至</span>
      <input class="laydate-icon col-xs-4 col-lg-3" id="end" style="height:28px; line-height:28px; float:left" name="end_time" value="{$end_time}"></li>
      <input type="hidden" name="search" value="sosou">
      <input type="hidden" name="ops" value="{$op}">
     <button class="btn button_btn bg-deep-blue "  type="submit"><i class="fa  fa-search"></i>&nbsp;搜索</button>
    </ul>
    </form>
    </div>
</div>
<div class="List_display">
 
  <table class="table table_list table_striped table-bordered" id="sample-table">
  <thead>
  <tr>
  <!-- <th width="30"><label><input type="checkbox" class="ace"><span class="lbl"></span></label></th> -->
    <th>会员名</th>
   <th >订单编号</th>   
   <th >下单时间</th>
   <th >支付时间</th>
   <th >消费金额</th>
   <th >优惠金额</th>
   <th >完成时间</th>
   <th >备注</th>
   <th >状态</th>
   <th >操作</th>
   </tr>   
  </thead>
   <tbody>
   <volist name="orderps_all" id="vo">
    <tr>
    <!-- <td class="center"><label><input type="checkbox" class="ace" value={$vo.Id}><span class="lbl"></span></label></td> -->
    <td>{$vo.sVIPName}</td>
     <td>{$vo.code}</td>
     <td>{$vo.createtime}</td>
     <td>{$vo.paytime}</td>
     <td>{$vo.useprice}</td>
     <td>{$vo.yh_price}</td>
     <td>{$vo.endtime}</td>
     <td>{$vo.remark}</td>
     <td class="td-status" style="cursor:pointer;" onClick="changeStatus('{$vo.Id}','{$vo.status}')"><span class="label label-success label-sm">
        <switch name="vo.status" >
      <case value="1">待自提</case>
      <case value="2">正在配送</case>
      <case value="3">已完成</case>
      <case value="4">退款</case>
    </switch>
    </span>
     </td>
     <td class="td-manage">
        <a title="订单详情" href="{:U('OrderPs/order_menu',array('order_id'=>$vo['Id']))}" class="btn button_btn bg-deep-blue">订单详情</a> 
        <!-- <a title="删除" href="javascript:;" onclick="Competence_del(this,'{$vo.Id}')" class="btn button_btn btn-danger">删除</a>  -->      
      </td>
    </tr>
    </volist>
   </tbody>
 </table>
</div>
</div>
</body>
</html>
<script>
 jQuery(function($) {
        $('table th input:checkbox').on('click' , function(){
          var that = this;
          $(this).closest('table').find('tr > td:first-child input:checkbox')
          .each(function(){
            this.checked = that.checked;
            $(this).closest('tr').toggleClass('selected');
          });
            
        });
      });
  /*订单状态修改*/
function changeStatus(id,status){
    $id=id;
    $status=Number(status);
    if($status==1){
      $msg='确认订单已完成吗？';
      $status=$status+1;
    }else if($status==3){
      $msg='确认订单已退款吗？';
    }else{
      return false;
    }
  layer.confirm($msg,function(index){
    $.post("{:U('OrderPs/change')}", { id: id,status:$status}, function(data) {
          location.reload();
        });
    layer.msg('已确认!',{icon: 6,time:1000});
  });
}
/*******滚动条*******/
$("body").niceScroll({  
  cursorcolor:"#888888",  
  cursoropacitymax:1,  
  touchbehavior:false,  
  cursorwidth:"5px",  
  cursorborder:"0",  
  cursorborderradius:"5px"  
});
  /******时间设置*******/
  var start = {
    elem: '#start',
    format: 'YYYY-MM-DD',
   // min: laydate.now(), //设定最小日期为当前日期
    max: '2099-06-16', //最大日期
    istime: true,
    istoday: false,
    choose: function(datas){
         end.min = datas; //开始日选好后，重置结束日的最小日期
         end.start = datas //将结束日的初始值设定为开始日
    }
};
var end = {
    elem: '#end',
    format: 'YYYY-MM-DD',
    //min: laydate.now(),
    max: '2099-06-16',
    istime: true,
    istoday: false,
    choose: function(datas){
        start.max = datas; //结束日选好后，重置开始日的最大日期
    }
};
laydate(start);
laydate(end);
</script>
