<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="__PUBLIC__/manage/css/shop.css" type="text/css" rel="stylesheet" />
<link href="__PUBLIC__/manage/css/Sellerber.css" type="text/css"  rel="stylesheet" />
<link href="__PUBLIC__/manage/css/bkg_ui.css" type="text/css"  rel="stylesheet" />
<link href="__PUBLIC__/manage/css/page.css" type="text/css"  rel="stylesheet" />
<link href="__PUBLIC__/manage/font/css/font-awesome.min.css"  rel="stylesheet" type="text/css" />
<script src="__PUBLIC__/manage/js/jquery-1.9.1.min.js" type="text/javascript" ></script>
<script type="text/javascript" src="__PUBLIC__/manage/js/jquery.cookie.js"></script>
<script src="__PUBLIC__/manage/js/shopFrame.js" type="text/javascript"></script>
<script src="__PUBLIC__/manage/js/Sellerber.js" type="text/javascript"></script>
<script src="__PUBLIC__/manage/js/layer/layer.js" type="text/javascript"></script>
<script src="__PUBLIC__/manage/js/laydate/laydate.js" type="text/javascript"></script>
<title>菜谱管理</title>
</head>
<?php 
  if(!$_SESSION['administrator']){
    redirect('Manage/Index/index',1,'请先登陆后台');
  }

?>
<body>
<div class="margin" id="page_style">

   <div class="operation clearfix">
<button class="btn button_btn btn-danger" type="button" id="user_del_all"><i class="fa fa-trash-o"></i>&nbsp;删除</button>
<a href="__CONTROLLER__/add_menu"  class="btn button_btn bg-deep-blue" title="添加管理员"><i class="fa  fa-edit"></i>&nbsp;添加菜谱</a>
   <div class="search  clearfix">
</div>
</div>
<div class="bkg_List_style">
 <div class="bkg_List clearfix">
  <table class="table  table_list table_striped table-bordered">
   <thead>
    <tr>
    <th class="center"><label><input type="checkbox" class="ace"><span class="lbl"></span></label></th>
     <th>菜谱名</th>
     <th>菜谱主料</th>
     <th>菜谱辅料1</th>
     <th>菜谱辅料2</th>
     <th>上传时间</th>
     <th>状态</th>
     <th>操作</th>
    </tr>
   </thead>
   <tbody>
   <volist name="menu" id="vo">
    <tr>
    <td class="center"><label><input type="checkbox" class="ace" value={$vo.Id}><span class="lbl"></span></label></td>
     <td>{$vo.name}</td>
     <td>{$vo.menu_main}</td>
     <td>{$vo.first_minor}</td>
     <td>{$vo.se_minor}</td>
     <td>{$vo.createtime}</td>
     <td class="td-status"><span class="label label-success label-sm"><if condition="$vo.status eq 1 ">已启用
        <else />已停用
    </if></span></td>
     <td class="td-manage">
                <if condition="$vo.status eq 2 ">
                <a style="text-decoration:none" class="btn button_btn btn-gray" onClick="Competence_start(this,'{$vo.Id}')" href="javascript:;" title="开启">开启</a>
                <else/>
                <a title="关闭" onclick="Competence_close(this,'{$vo.Id}')" href="javascript:;" class="btn button_btn btn-Dark-success">停用</a>
                </if> 
                <a title="编辑" href="{:U('MenuList/edit_menu',array('menu_id'=>$vo['Id']))}" class="btn button_btn bg-deep-blue">编辑详情</a> 
                <a title="删除" href="javascript:;" onclick="Competence_del(this,'{$vo.Id}')" class="btn button_btn btn-danger">删除</a>       
        </td>
    </tr>
    </volist>
   </tbody>
  </table>
 </div>
</div>
</div>
</body>
</html>
<!-- /*管理员-批量删除*/ -->
<script type="text/javascript">
  $("#user_del_all").click(function () {
    var check = $("tbody input[type=checkbox]:checked");
    var idAll =new Array();
    if(check.length<1){
      alert('请选择要删除的菜单');
    }else{
      check.each(function(i) {
          idAll[i] = $(this).val();
        });
      $.post("{:U('MenuList/del')}", { idAll: idAll}, function(data) {
          location.reload();
        });
      layer.msg('已删除!',{icon: 5,time:1000});
    }
    
  })

</script>
<script>
$(function(){
  $("#Competence_sort").click(function(){
    var option=$(this).find("option:selected").text();
    var value=$(this).val();
    if(value==0){
        
      $("#sample_table tbody tr").show()
      }
      else{
    $("#sample_table tbody tr").hide().filter(":contains('"+(option)+"')").show();  
      }
    }).click(); 
  });

/*******滚动条*******/
$("body").niceScroll({  
  cursorcolor:"#888888",  
  cursoropacitymax:1,  
  touchbehavior:false,  
  cursorwidth:"5px",  
  cursorborder:"0",  
  cursorborderradius:"5px"  
});
/*管理员-删除*/
function Competence_del(obj,id){
  layer.confirm('确认要删除吗？',function(index){
    $.post("{:U('MenuList/del')}", { id: id}, function() {
          location.reload();
        });
    layer.msg('已删除!',{icon: 5,time:1000});
  });
}

/*管理员-停用*/
function Competence_close(obj,id){
  layer.confirm('确认要停用吗？',function(index){
    $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" class="btn button_btn btn-gray" onClick="Competence_start(this,id)" href="javascript:;" title="启用">启用</a>');
    $(obj).parents("tr").find(".td-status").html('<span class="label label-success label-sm">已停用</span>');
    $(obj).remove();
    $.post("{:U('MenuList/change')}", { id: id,aid: 2 }, function() {
          return true ;
        });
    layer.msg('已停用!',{icon: 5,time:1000});
  });
}

/*管理员-启用*/
function Competence_start(obj,id){
  layer.confirm('确认要启用吗？',function(index){
    $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" class="btn button_btn  btn-Dark-success" onClick="Competence_close(this,id)" href="javascript:;" title="停用">停用</a>');
    $(obj).parents("tr").find(".td-status").html('<span class="label label-success label-sm">已启用</span>');
    $(obj).remove();
    $.post("{:U('MenuList/change')}", { id: id,aid: 1 }, function() {
          return true ;
        });
    layer.msg('已启用!',{icon: 6,time:1000});
  });
}
/****复选框选中******/
$('table th input:checkbox').on('click' , function(){
          var that = this;
          $(this).closest('table').find('tr > td:first-child input:checkbox')
          .each(function(){
            this.checked = that.checked;
            $(this).closest('tr').toggleClass('selected');
          });
            
        });
</script>

<script>
/******时间设置*******/
  var start = {
    elem: '#start',
    format: 'YYYY-MM-DD',
   // min: laydate.now(), //设定最小日期为当前日期
    max: '2099-06-16', //最大日期
    istime: true,
    istoday: false,
    choose: function(datas){
         end.min = datas; //开始日选好后，重置结束日的最小日期
         end.start = datas //将结束日的初始值设定为开始日
    }
};
var end = {
    elem: '#end',
    format: 'YYYY-MM-DD',
    //min: laydate.now(),
    max: '2099-06-16',
    istime: true,
    istoday: false,
    choose: function(datas){
        start.max = datas; //结束日选好后，重置开始日的最大日期
    }
};
laydate(start);
laydate(end);
/********************列表操作js******************/
$('table th input:checkbox').on('click' , function(){
					var that = this;
					$(this).closest('table').find('tr > td:first-child input:checkbox')
					.each(function(){
						this.checked = that.checked;
						$(this).closest('tr').toggleClass('selected');
					});
						
				});
</script>
